<div class="w-full min-w-[320px] pt-12 px-2 font-[Pretendard-Regular] text-[#494949] flex flex-col">


    <!-- contents -->
    <div class="w-full h-[180px] flex flex-row space-x-4 items-center border-b-[1px] border-neutral-200">
        <div class="w-[160px] h-[160px] rounded-md overflow-hidden">
            <img
                src="../../file/sample/contents_img_sample2.png"
                alt="Contents"
            />
        </div>
        <div class="h-[140px] w-[calc(100%-176px)] flex flex-col justify-between">
            <div class="text-[24px] font-black">라움아틀리에</div>
            <div class="flex flex-col">
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-map-location-dot text-green-700"></i
                    >&nbsp;대구 중구 국채보상로 629 1층
                </div>
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-phone"></i>&nbsp;1057-1342-6868
                </div>
            </div>
            <div class="text-[10px] font-normal flex flex-wrap">
                <span class="mr-2">#대구도자기체험</span>
                <span class="mr-2">#대구도자기공방</span>
                <span class="mr-2">#대구원데이클래스</span>
                <span class="mr-2">#대구동성로공방</span>
                <span class="mr-2">#대구공방</span>
            </div>
        </div>
    </div>
    <!-- contents -->
    <div class="w-full h-[180px] flex flex-row space-x-4 items-center border-b-[1px] border-neutral-200">
        <div class="w-[160px] h-[160px] rounded-md overflow-hidden">
            <img
                src="../../file/sample/contents_img_sample2.png"
                alt="Contents"
            />
        </div>
        <div class="h-[140px] w-[calc(100%-176px)] flex flex-col justify-between">
            <div class="text-[24px] font-black">라움아틀리에</div>
            <div class="flex flex-col">
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-map-location-dot text-green-700"></i
                    >&nbsp;대구 중구 국채보상로 629 1층
                </div>
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-phone"></i>&nbsp;1057-1342-6868
                </div>
            </div>
            <div class="text-[10px] font-normal flex flex-wrap">
                <span class="mr-2">#대구도자기체험</span>
                <span class="mr-2">#대구도자기공방</span>
                <span class="mr-2">#대구원데이클래스</span>
                <span class="mr-2">#대구동성로공방</span>
                <span class="mr-2">#대구공방</span>
            </div>
        </div>
    </div>
    <!-- contents -->
    <div class="w-full h-[180px] flex flex-row space-x-4 items-center border-b-[1px] border-neutral-200">
        <div class="w-[160px] h-[160px] rounded-md overflow-hidden">
            <img
                src="../../file/sample/contents_img_sample2.png"
                alt="Contents"
            />
        </div>
        <div class="h-[140px] w-[calc(100%-176px)] flex flex-col justify-between">
            <div class="text-[24px] font-black">라움아틀리에</div>
            <div class="flex flex-col">
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-map-location-dot text-green-700"></i
                    >&nbsp;대구 중구 국채보상로 629 1층
                </div>
                <div class="text-[10px] font-normal">
                    <i class="fa-solid fa-phone"></i>&nbsp;1057-1342-6868
                </div>
            </div>
            <div class="text-[10px] font-normal flex flex-wrap">
                <span class="mr-2">#대구도자기체험</span>
                <span class="mr-2">#대구도자기공방</span>
                <span class="mr-2">#대구원데이클래스</span>
                <span class="mr-2">#대구동성로공방</span>
                <span class="mr-2">#대구공방</span>
            </div>
        </div>
    </div>

   
</div>
