<div>
    <% for(let i = 0 ; i < data.length; i++){  %>
        <div style="width: 100px; background-color: blue; color:azure; height: 100px; margin-bottom: 4px;">
            <%= data[i].name %>
        </div>
    <% } %>
</div>