<%- include('common/header.ejs') %>

<div class="w-full min-h-screen pt-[40px] bg-[#F5F1E6]">
    <img src="../file/stamp_popup.png" alt="스탬프 팝업" class="h-full" />
</div>

<%- include('common/footer.ejs') %> 
