<%- include('common/header.ejs') %>


<div class="w-full min-h-screen
            flex flex-col justify-center items-center
             bg-[#F5F1E6] space-y-8">
    <img src="../file/part1.png" alt="스탬프 팝업" class="w-[70%]" />
    <img src="../file/part2.png" alt="스탬프 팝업" class="w-[85%]" />
</div>
<%- include('common/footer.ejs') %> 
