<%- include('common/header.ejs') %>

<div
    class="font-[Pretendard-Regular] flex flex-col justify-around w-full h-screen pt-[100px] pb-[100px]"
>
    <!--아이디, 비밀번호 입력양식 -->
    <div class="space-y-12">
        <div
            class="flex justify-center items-center text-[36px] text-[#FFAA2C] font-bold"
        >
            로그인
        </div>

        <div class="space-y-4">
            <div class="flex justify-center items-center h-[40px]">
                <div class="w-[20%] tex t-[16px] font-bold">아이디</div>
                <input
                    type="text"
                    name="name"
                    placeholder="아이디를 입력해주세요."
                    class="w-[75%] rounded-xl text-[14px]"
                    id="userId"
                    required
                />
            </div>

            <div class="flex justify-center items-center mt-[24px] h-[40px]">
                <div class="w-[20%] text-[16px] font-bold">비밀번호</div>
                <input
                    type="password"
                    name="name"
                    placeholder="비밀번호를 입력해주세요."
                    class="w-[75%] rounded-xl text-[14px]"
                    id="userPassword"
                    required
                />
            </div>
        </div>
        <!-- 로그인, 회원가입 버튼 -->
        <div class="flex justify-center items-center">
            <Button
                class="flex justify-center items-center w-[144px] h-[41px] border-2 border-gray mr-[6px] font-bold text-[#929292] text-[20px] rounded"
                id="join"
            >
                회원가입
            </Button>
            <Button
                class="flex justify-center items-center w-[144px] h-[41px] border border-gray font-bold bg-[#292929] text-[#C8C8C8] text-[20px] rounded"
                id="login"
                type="submit"
            >
                로그인
            </Button>
        </div>

        <!-- 카카오 로그인 버튼 -->
        <a
            class="flex justify-center items-center kakao-login-button-wrap"
            href="/api/kakao"
        >
            <img src="../file/kakao.png" alt="카카오 로그인 버튼" />
        </a>
    </div>
</div>

<script src="../js/login.js"></script>

<%- include('common/footer.ejs') %>
