<%- include('common/header.ejs') %>

<div class="font-[Pretendard-Regular] min-h-screen flex flex-col justify-center  w-full ">
    <!--myPage-->
    <div
        class="flex justify-center items-center text-[36px] text-[#FFAA2C] font-bold "
    >
        My Page
    </div>

    
        <div class="flex justify-center items-center mt-[7px]">
            <img src="../file/cat.png" alt="rlqh" class="h-[90px] w-[90px]"/>
        </div>
        <!--아이디-->
        <div class="flex items-center mt-[30px] h-[40px] ml-[15px]">
            <p class="text-[16px] font-bold">아이디</P>
        </div>
        <div class="flex justify-center items-center">
            <input
                    type="text"
                    name="phone"
                    placeholder="아이디를 입력해주세요."
                    class="w-[90%] text-[14px] border-0 border-b-[1px] border-[#FFAA2C] h-0"
                />
        </div>  
        <!-- 이메일 -->
        <div class="flex items-center mt-[26px] h-[40px] ml-[15px]">
            <p class="text-[16px] font-bold">E-mail</p>
        </div>

        <div class="flex justify-center items-center">
            <input
                    type="email"
                    name="name"
                    placeholder="이메일을 입력해주세요."
                    class="w-[90%] text-[14px] border-0 border-b-[1px] border-[#FFAA2C] h-0"
                />
        </div>

        <!--연락처-->
        <div class="flex items-center mt-[26px] h-[40px] ml-[15px]">
            <p class="text-[16px] font-bold">연락처</P>
        </div>
        <div class="flex justify-center items-center">
            <input
                    type="text"
                    name="phone"
                    placeholder="연락처를 입력해주세요."
                    class="w-[90%] text-[14px] border-0 border-b-[1px] border-[#FFAA2C] h-0"
                />
        </div>

    

    <!-- 프로필 수정하기 버튼 -->
    <div class="flex justify-center items-center mt-[61px]">
        <div
            class="flex justify-center items-center w-[164px] h-[41px] border border-gray font-bold bg-[#292929] text-[#C8C8C8] text-[20px] rounded"
        >
            프로필 수정하기
        </div>
    </div>
</div>



<%- include('common/footer.ejs') %>
