<%- include('common/header.ejs') %>

    <div class="font-[Pretendard-Regular] min-h-screen flex flex-col justify-around pt-[60px] pb-[100px] w-full" id="usersNav">
        
    </div>

    <!-- <div>
        <div class="flex justify-center items-center mt-[32px]">
            <Button
                id="editBtn"
                class="flex justify-center items-center w-[164px] h-[41px] border border-gray font-bold bg-[#292929] text-[#C8C8C8] text-[16px] rounded">
                수정 완료
            </Button>
        </div>
    </div> -->

<script src="../js/profileEdit.js"></script>

<%- include('common/footer.ejs') %>
