<%- include('common/header.ejs') %>

    <div class="font-[Pretendard-Regular] min-h-screen flex flex-col justify-center w-full" id="usersNav">
    </div>

    <script src="/js/profile.js"></script>

    <%- include('common/footer.ejs') %>