<%- include('common/header.ejs') %>

    <div class="canvas-wrap w-full h-[100vh] flex justify-center items-center ">
        <div class="w-60 h-54 flex flex-col items-center">
            <div class="w-full h-full flex justify-between">
                <div class="w-4 h-4 border-black border-t-4 border-l-4 "></div>
                <div class="w-4 h-4 border-black border-t-4 border-r-4"></div>
            </div>
            <canvas id="canvas" class="w-52 h-52 z-99"></canvas>
            <div class="w-full h-full flex justify-between">
                <div class="w-4 h-4 border-black border-b-4 border-l-4 "></div>
                <div class="w-4 h-4 border-black border-b-4 border-r-4"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../js/library/jsQR.js"></script>
    <script type="text/javascript" src="../js/qr.js"></script>

    <%- include('common/footer.ejs') %>