<%- include('common/header.ejs') %>

<div class="w-full h-screen flex flex-col justify-around  items-center pt-[100px] pb-[100px] ">

    <div class="flex flex-col justify-center items-center ">
        <img src="../file/stamp/titleLogo.png" alt="logo" class="h-[30px]">
        <div class="text-[24px] font-bold">미션! 스탬프를 채워라!</div>
        <div class="flex flex-col items-center justify-center">
            <div>공방을 방문 및 체험하고 스탬프를 6개 채우면</div>
            <div class="tracking-wide">15% 할인권 및 할로윈 캔들 응모권을 드려요</div>
        </div>
    </div>

    <!-- 스탬프 찍히는 공간 -->
    <div id="stamp_box" class="grid grid-cols-3 gap-[21px] flex-wrap relative" >
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
        <div class="stamp_preset w-[82px] h-[82px] flex justify-center items-center">
            <img src="../file/stamp/stamp_preset.png" alt="stamp_preset" class="w-full h-full">
        </div>
    </div>
    <!-- 미션완료 표시 공간 -->
    <div class="w-full  flex flex-col justify-center items-center gap-1">
        <div id="mission_complete" class="relative"></div>
        <div id="mission_box" class="w-full  flex justify-center items-center">
            <div id="stamp_count_box" class="flex justify-center items-center w-[164px] h-[41px] border border-gray font-bold bg-[#c8c8c8] text-[#333333] text-[16px] rounded tracking-wide">
                <i class="fas fa-stamp"></i>&nbsp;
                <div> 0 / 6</div>
            </div>
        </div>
        <div id="coupon_box" class="w-full  flex justify-center items-center"></div>
        <div class="text-[12px] text-[#848484]">이벤트 기간 : 09.20~10.31</div>
    </div>
</div> 

<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="w-full max-w-2xl max-h-full flex justify-center items-center">
        <!-- Modal content -->
        <div class="w-[360px] h-[140px] flex justify-center items-center">
            <!-- Modal body -->
            <img src="../file/stamp/stamp_coupon.png" alt="coupon" class="w-full h-full">
        </div>
    </div>
</div>

<script src="../js/stamp.js"></script>

<%- include('common/footer.ejs') %>