<%- include('common/header.ejs') %>

<div class="w-full min-h-screen pt-[20px] bg-white flex flex-col justify-center items-center gap-4">
    <!-- 스탬프 찍히는 공간 -->
    <div id="stamp_box" class="w-96 h-full flex flex-wrap justify-around items-center gap-4" ></div>
    <!-- 미션완료 표시 공간 -->
    <div class="w-full h-full flex flex-col justify-center items-center gap-1">
        <div id="mission_box" class="w-full h-full flex justify-center items-center"></div>
        <p class="text-xs text-gray-400">이벤트 기간 : 09.20 - 10.20</p>
    </div>

    <!-- 쿠폰보기 표시 공간 -->
    <div id="coupon_box" class="w-full h-full flex justify-center items-center"></div>
</div>

<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="w-full max-w-2xl max-h-full flex justify-center items-center">
        <!-- Modal content -->
        <div class="w-[360px] h-[140px] flex justify-center items-center">
            <!-- Modal body -->
            <img src="../file/stamp/stamp_coupon.png" alt="coupon" class="w-full h-full">
        </div>
    </div>
</div>

<script src="../js/stamp.js"></script>

<%- include('common/footer.ejs') %>